a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*flex*/

.catalog-page {
    overflow: hidden;
}

.catalog-page__title {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.catalog-page__list {
    margin-top: 59px;
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
}

.catalog-items__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}


.catalog-items__item {
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-right: 60px;
    border-top: none;
    width: 245px;
    height: 380px;
}


.catalog-items__point {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-items__image {
    max-height: 145px;
    margin-bottom: 70px;
}

.catalog-items__button {
    width: 169px;
    background-color: #68b738;
    z-index: 2;
}

.catalog-items__button:hover,
.catalog-items__button:focus {
    background-color: #5eaa2f;
    cursor: pointer;
}

.catalog-items__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
    cursor: pointer;
}

.button {
    display: block;
    min-height: 40px;
    width: 280px;
    font-size: 16px;
    padding: 11px 0;
    font-weight: 400;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #68b738;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Garamond", sans-serif;
}


/*inline-block*/

.catalog-page__inline-block {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.catalog-page__container {
    width: 1000px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px #cccccc;
}

.catalog-page__block {
    font-family: "Garamond", sans-serif;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    margin: 10px 5px;
    padding: 10px;
    color: white;
    background-color: #3498db;
    border: 2px solid #34495e;
}

/*float*/
.catalog-page__float {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.catalog-page__wrapper {
    width: 1400px;
    background-color: silver;
    box-shadow: 0 0 2px #cccccc;
    margin: 0 auto;
    font-size: 20px;
    font-family: "Garamond", sans-serif;
}

.catalog-page__content {
    margin-left: 200px;
}



.content__block1 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(46, 204, 113, 0.8);
}

.content__block2 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #3498db;
}

.content__block3 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(46, 204, 113, 0.8);
}

.content__block4 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #3498db;
}

.content__block5 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(46, 204, 113, 0.8);
}

.content__block6 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #3498db;
}

.content__block7 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: rgba(46, 204, 113, 0.8);
}

.content__block8 {
    float: left;
    width: 230px;
    min-height: 150px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #3498db;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*table*/
.catalog-page__table {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.catalog-page__table__page-td {
    border: 1px solid lightgray;
    padding: 10px;

}

.catalog-page__table__page-th {
    border-bottom: 2px solid black;
    padding: 10px;

}

.catalog-page__call {
    caption-side: bottom;
    text-align: center;
}


/*Div-таблица*/

.catalog-page__div-table {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.d-table{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.d-tr{
    display: table-row;
}

.d-td{
    display: table-cell;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.d-td:not(.no-p){
    padding: 4px;
}

/*Аккордион*/

.catalog-page__list-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.list-menu {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}


.accordion__item {
    position: relative;
    margin-bottom: 20px;
}

.accordion__item-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.accordion__item-trigger {
    display: block;
    padding: 20px;
    border: 1px solid black;
}

.accordion__item-content {
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    display: none;
}

.accordion__item-input:checked ~ .accordion__item-trigger{
    background-color: cornsilk;
}

.accordion__item-input:checked ~ .accordion__item-content{
    display: block;
    background-color: cornsilk;
}

/*GRID*/

.catalog-page__grid {
    padding-left: 55px;
    padding-top: 55px;
    padding-bottom: 23px;
    color: black;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 1400px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 20vh auto;
    grid-auto-rows: 100px;
    grid-auto-columns: 200px;
    grid-gap: 20px;
}

.grid__menu-box {
    background-color: rgb(74,84,179);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


